@media (max-width: 992px) /*hasta 768px*/ {
    .navbar {
        gap: 10px;
    }
    .cart-icon {
        height: 50px;
        margin-right: 5px;
    }
    .hero-img img{
        height: 370px;
    }
    .hero-info h1 {
        font-size: 36px;
    }
}

@media (max-width: 768px) /*hasta 576px*/ {
    #hero {
        flex-direction: column;
    }
    .hero-info {
        text-align: center;
        align-items: center;
        width: 90%;        
    }
    .hero-info h1 {
        font-size: 28px;
        text-align: center;
    }
    .navbar-list {
        position: absolute;
        top: 100px;
        left: 5%;
        right: 5%;
        width: 90%;
        flex-direction: column;
        background-color: black;
        border: 2px solid var(--text-orange);
        border-top: 0px;
        border-radius: 0px 0px 15px 15px;
        align-items: flex-start;
        padding: 30px;
        gap: 20px;
        z-index: 2;
        /*display: none;*/
        transform: translateY(-200%);
        transition: all 0.5s ease-in-out;
        }

 
    .navbar-list a {
        font-size: 15px;
    }
    .menu-label {
        display: flex;
        order: 2;
        cursor: pointer;
        height: 35px;
        align-self: center;
        transition: all 0.2s ease-in;
    }
    .menu-label:hover {
        background-color: var(--text-orange);
        border-radius: 3px;
        transition: all 0.2s ease-out;
    }
    #menu-toggle:checked + .navbar-list {
        transform: translateY(0%);
        transition: all 0.5s ease-in-out;
    }
}

@media (max-width: 576px) /*hasta 320px*/ {
    .cart {
        left: 0;
        width: 100%;
        border: none;
    }
    .cart-item {
        flex-wrap: wrap;
    }
    .hero-info h1 {
        font-size: 25px;
    }
    .hero-img img {
        width: 250px;
        height: 250px;
    }
    .cards-head h2 {
        font-size: 24px;
    }
    .cards-head p {
        font-size: 18px;
    }
    #contact {
        
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .contact-info {
        width: 100%;
        align-items: center;
    }
    iframe {
        width: 300px;
        height: 300px;
        width: 80%;
    }

} 
