@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
    --primary: #121314;
    --secondary: darkgray;
    --tertiary: #c9ad11;
    --text-white: #f3f4f6;
    --text-orange: #c97311;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Poppins, sans-serif";
}

header {
    background-image: url(./img/maderametal.jpg);
    background-size: contain;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0px 30px;
    position: fixed;
    top: 0;
    z-index: 1;
}

.logo {
    height: 80%;
}

.navbar {
    display: flex;
    gap: 100px;
}

.navbar-list {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    padding-right: 50px;
}

.navbar-list a {
    color: var(--text-white);
    font-size: 18px;
    font-family: "Poppins";
    
}

.navbar-list a:hover {
    color: var(--text-orange);
    background: radial-gradient(black, rgba(255, 255, 255, 0));
    border-radius: 3rem;
}

.navbar-list li:first-child {
    font-weight: 700;
}

.cart-icon {
    height: 60px;
    border: 2px solid var(--text-white);
    border-radius: 10px;
    padding: 10px 15px;
    margin-right: 1rem;
    color: var(--text-white);
    cursor: pointer;
}
.cart-icon:hover{
    background-color: var(--text-orange);
    border-radius: 10px;
    border: 2px solid var(--text-orange);
}

#menu-toggle,
#cart-toggle,
.menu-label {
    display: none;
}

.cart {
    position: absolute;
    top: 100px;
    right: 0;
    padding: 50px 30px;
    background: linear-gradient(to right, black 0%, #353535 100%);
    border-left: 2px solid var(--text-orange);
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: calc(100vh - 100px);
    overflow-y: scroll;
    z-index: 2;
    display: none;
    animation-name: desplegar-derizq;
    animation-duration: 1s;
}
@keyframes desplegar-derizq {
    0% {
        transform: translateX(calc(100vh - 100px));
    }
    100% {transform: translateX(0px);}
}

.cart::-webkit-scrollbar {
    display: none;
}
.cart h2 {
    color: var(--text-white);
    font-size: 20px;
    font-weight: 500;
    font-family: "Poppins";
    font-style: italic;
}
.cart-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: white;
    padding: 20px;
    border: 1px solid var(--text-orange);
    border-radius: 10px;
}
.cart-item img {
    height: 70px;
}
.silla {
    padding: 0px 16px;        
}
.item-info {
    display: flex;
    flex-direction: column;
}
.item-title {
    color: black;
    font-family: "Montserrat";
    font-size: 15px;
    font-weight: 700;
}
.item-bid {
    color: rgb(56, 56, 56);
    font-family: "Montserrat";
    font-size: 12px;
    font-weight: 500;
}
.item-price {
    color: black;
    font-family: "Montserrat";
    font-size: 15px;
    font-weight: 700;
}
.item-handler {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.quantity-handler {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 8px;
    color: black;
    font-weight: 600;
    border-radius: 6px;
    border: 1px solid var(--text-orange);
    cursor: pointer;
}
.quantity-handler:hover {
    background: var(--text-orange);
}
.item-quantity {
    color: #121314;
    font-weight: 700;
}
.divider {
    border: 1px solid var(--text-orange);
    margin-top: 15px;
}
.cart-total {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cart-total p {
    color: var(--text-white);
    font-family: "Montserrat";
    font-weight: 600;
}
.cart-total span {
    color: var(--text-orange);
    font-family: "Montserrat";
    font-weight: 800;
    font-size: 19px;
}
.btn-add {
    background: var(--text-white);
    border: 2px solid var(--text-orange);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    font-weight: 600;
    font-family: "Montserrat";
    padding: 6px;
    cursor: pointer;
}
.btn-add:hover {
    background: var(--text-orange);
}
#cart-toggle:checked + .cart {
    display: flex;
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-image: linear-gradient(to right, #353535 0%, black 100%);
    margin-top: 100px;
    font-family: "Poppins";
}
 
#hero {
    display: flex;
    max-width: 1200px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 10px;
    flex-wrap: wrap;
   
}

.hero-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 30px;
    width: 50%;
    height: 100%;
}

.hero-info h1 {
    color: var(--text-orange);
    font-size: 40px;
    font-family: "Poppins";
    text-shadow: 6px 6px 4px black;
}
.hero-info p {
    color: var(--text-white);
    font-family: "Poppins";
}
.hero-info div {
    display: flex;
    gap: 15px;
}
 .boton {
    display: flex;
    padding: 5px 20px;
    border-radius: 2rem;
    font-weight: 800;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary);
    cursor: pointer;
    width: 105px;
}
 .boton a {
    font-family: "Montserrat";
    color: var(--primary);
}
 .boton:hover {
    background: var(--text-orange);
    border-color: var(--text-white);
}

.hero-img {
    display: flex;
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding: 15px;
}
.imagen {
    border-radius: 1rem;
}

#text-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    text-align: center;
}
.text-info-user {
    display: flex;
    width: 80%;
    font-family: "Montserrat";
    padding: 15px;
    font-weight: 500;
    background: radial-gradient(var(--secondary) 0%, var(--text-orange) 100%);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

#cards {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-image: url(./img/metal2.jpg);
    margin-top: 35px;
    text-align: center;
}
.card-info img {
    width: 90px;
    height: 50px;
}
.card-info img:hover {
    animation-name: rotacionY;
    animation-duration: 0.3s;
}
.cards-head {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 30px;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.cards-head h2 {
    font-family: "Poppins";
    color: black;
    font-size: 30px;
    text-shadow: 2px 2px 2px var(--text-orange);
       
}
.cards-head p {
    width: 80%;
    font-family: "Poppins";
    color: black;
    text-shadow: 1px 1px 1px var(--secondary);
    font-size: 20px;
    font-weight: 700;
}
.cards-cards {
    display: flex;
    padding: 30px;
    gap: 60px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.card-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 20px;
    background: var(--secondary);
    height: 250px;
    width: 250px;
    border-radius: 1rem;
}
.card-info img {
    height: 50px;
    width: 50px;
}
.card-info h3{
    font-family: "Montserrat";
    color: var(--text-orange);
    font-weight: 700;
    text-shadow: 1px 1px 1px var(--primary);
}
.card-info p {
    font-family: "Poppins";
    font-size: 12px;
    font-weight: 500;
}
#contact {
    display: flex;
    width: 80%;
    margin-top: 25px;
    align-items: center;
    justify-content: center;
    color: #f3f4f6;
    padding: 5px;
    flex-wrap: wrap;
    gap: 40px;
           
}
.contact-info {
    
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}
.contact-info h2{
    font-family: "Poppins";
    padding: 10px;
    font-style: italic;
    text-shadow: 2px 2px 2px black;
}
.contact-info-datos h4 {
    font-family: "Montserrat";
    padding: 10px;
}
.contact-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    justify-content: center;
    
}
.contact-list li {
    font-family: "Montserrat";
    font-size: 13px;
}
.contact-list img {
    width: 20px;
}
.redes {
    display: flex;
    padding: 20px;
    gap: 20px;
    width: 100%;
    justify-content: space-around;
}
.redes img {
    width: 30px;
}
.iframe {
    display: flex;
    justify-content: center;
    align-items: center;
}
.iframe-cuadro {
    border-radius: 1rem;
}

#footer {
    background-image: linear-gradient(to right, #353535 0%, black 100%);
}
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    gap: 15px;
    font-family: "Poppins";
    color: var(--secondary);
    text-shadow: 2px 2px 2px black;
}
.footer-img {
    height: 75px;
    animation-name: rotacionY;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes rotacionY {
    0% {transform: rotateY(0deg);
    }
    100% {transform: rotateY(360deg);
    }
}