@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
    --background: #c9ad11;
    --primary: #121314;
    --secondary: darkgray;
    --text-white: #f3f4f6;
    --text-orange: #c9ad11;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Poppins, sans-serif";
}

header {
    background-image: url(./img/tapesWall.jpg);
    background-size: contain;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0px 30px;
    position: fixed;
    top: 0;
}

.logo {
    height: 75%;
    
}

.navbar {
    display: flex;
    gap: 100px;
}

.navbar-list {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding-right: 50px;

}

.navbar-list a {
    color: var(--background);
    font-size: 18px;
    font-family: "Poppins";

}

.navbar-list a:hover {
    border-bottom: 1px solid white;
  }

.navbar-list li:first-child {
    font-weight: 700;
}

.cart-icon {
    height: 60px;
    border: 2px solid var(--text-white);
    border-radius: 10px;
    padding: 10px 15px;
    margin-right: 1rem;
    color: var(--text-white);
    cursor: pointer;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: var(--primary);
    margin-top: 100px;
  }
 